name: Build
on: [push, workflow_dispatch]
jobs:
  build:
    runs-on: macos-latest
    steps:
      - uses: actions/checkout@v4
      - run: |
          xcrun -sdk iphoneos clang -dynamiclib -arch arm64 -framework Foundation -framework UIKit -lobjc wizardcrackv2.m -o wizardcrackv2.dylib
      - uses: actions/upload-artifact@v4
        with:
          name: my-zip
          path: wizardcrackv2.dylib